.App {
    max-width: 1024px;
    margin: 50px auto;
    padding: 20px;
  }
  
  .App_Wrapper {
    padding: 20px;
    margin: 20px -20px;
  }

.Flex_row {
    display: flex;
    justify-content: space-between;
}  
  